.control-panel
{
	width:410px;
	height:100%;
	float:right;
	border-bottom: medium solid #435348;
	background-color:#F5F4EB;
}

.sign-in
{
	width:560px;
	height:100%;
	float:right;
	border-bottom: medium solid #435348;
	background-color:#F5F4EB;
}

.panel-button
{
	float:left;
	width:100px;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	border-left:2px solid #435348;
	background-color:#E6E6FA;
	text-decoration:none;
	color:black;
}

.panel-button:hover
{
	background-color:#DEDEE5;
	cursor:pointer;
}

.right-button
{
	border-right:2px solid #69A64F;
}