@charset "utf-8";
/*!
 * CSS presentation layer v1.3a2 / Couche présentation de CSS v1.3a2
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */

/* Element normalization / Normalisation des éléments */
input, select, button {font-size: 100%;}
body {margin: 0; padding: 0;}
a:active, a:focus {cursor: auto;}
a img {border: none;}
abbr, acronym {cursor: help; border-bottom: 1px dotted #000;} 
q:before, q:after {content: "";}
dl, ol, ul {margin-top: 1em; margin-bottom: 1em;}
table {border-collapse: collapse; border-spacing: 0;}
a[href]:hover, a[href]:active, a[href]:focus {color: #C00;}
body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 80%;}
pre, code, kbd, samp, tt {font-family: "Courier New", Courier, monospace; font-size: 112%;}
h1, h2, h3, h4, h5, h6 {margin: 1em 0; padding-top: 5px; font-weight: bold;}

h1 {font-size: 180%;}
h2 {font-size: 165%;}
h3 {font-size: 150%;}
h4 {font-size: 130%;}
h5 {font-size: 115%;}
h6 {font-size: 100%;}


/* Hide non-visual elements / Cacher les éléments non-visuel */
.cn-invisible, .invisible, .cn-show-onfocus, #cn-skip-head a, #cn-skip-head a:link, #cn-skip-head a:visited, #cn-left-col h2, #cn-right-col h2, #cn-foot h2 {position: absolute; clip: rect(1px, 1px, 1px, 1px); height: 1px !important; width: 1px !important; overflow: hidden !important; margin: 0 !important;}
.cn-show-onfocus:focus, .cn-show-onfocus:active, #cn-skip-head a:focus, #cn-skip-head a:active {position: static; clip: auto; height: inherit !important; width: inherit !important; overflow: inherit !important; margin: inherit !important;}
.cn-show-onhover {opacity: 0;}
.cn-show-onhover:hover, .cn-show-onhover:focus, .cn-show-onhover:active {opacity: 1;}

/* Skip header / Début de l'en-tête */
#cn-skip-head {height: 0; float: left;}
#cn-skip-head ul {list-style-type: none; margin-top: -1.8em;}
#cn-skip-head li {position: absolute; top: 0; width: auto; z-index: 3;}
#cn-skip-head #cn-sh-link-1 {right: 53%;}
#cn-skip-head #cn-sh-link-2 {left: 53%;}
#cn-skip-head a {padding: 5px; display: inline-block; width: 100%;}
#cn-skip-head a, #cn-skip-head a:link, #cn-skip-head a:visited {color: #FFF; background-color: transparent; font-weight: bold;}
#cn-skip-head a:hover, #cn-skip-head a:focus, #cn-skip-head a:active {background-color: #000; text-decoration: none; color: #FFF;}

/* Basic grid / Grille simple */
#cn-cols {clear: both; float: left; width: 100%;}
#cn-body-inner-3col, #cn-body-inner-2col, #cn-body-inner-2col-right, #cn-body-inner-1col {margin: 0px 3%; border: 10px solid #FFF; position: relative;}
#cn-centre-col, #cn-head, #cn-foot, #cn-left-col, #cn-right-col {position: relative;}
#cn-left-col-gap, #cn-right-col-gap, #cn-centre-col-gap {position: absolute; top: 0; bottom: 0;}
#cn-head, #cn-foot, #cn-left-col, #cn-right-col {z-index: 2;}
#cn-left-col-gap, #cn-right-col-gap {z-index: 1;}
#cn-head, #cn-foot {width: 100%; clear: both;}

/* Default background colours / Couleurs d'arrère-plan par défaut */
#cn-body-inner-3col, #cn-body-inner-2col, #cn-body-inner-2col-right, #cn-body-inner-1col, #cn-head, #cn-foot, #cn-centre-col-inner, #cn-centre-col-gap, #cn-left-col-inner, #cn-left-col-gap, #cn-right-col-inner, #cn-right-col-gap  {background: #FFF;}

#cn-left-col, #cn-left-col-gap {width: 25%;}
#cn-left-col {float: left; margin-right: -25%;}
#cn-left-col-gap {left: 0;}

#cn-right-col, #cn-right-col-gap {width: 25%;}
#cn-right-col {float: right;}
#cn-right-col-gap {right: 0;}

#cn-centre-col {width: 100%;}
#cn-centre-col, #cn-centre-col-gap {float: left;}
#cn-centre-col-inner {padding: 1px 0;}

#cn-body-inner-3col #cn-centre-col, #cn-body-inner-2col #cn-centre-col, #cn-body-inner-2col-right #cn-centre-col {margin-right: -100%;}

/* 3 column / 3 colonne */
#cn-body-inner-3col #cn-centre-col-inner {margin-left: 25%; margin-right: 25%;}
#cn-body-inner-3col #cn-centre-col-gap {left: 25%; right: 25%;}

/* 2 column / 2 colonne */
#cn-body-inner-2col #cn-centre-col-inner {margin-left: 25%;}
#cn-body-inner-2col #cn-centre-col-gap {left: 25%; right: 0;}

/* 2 column with navigation on the right / 2 colonne avec la navigation à droite */
#cn-body-inner-2col-right #cn-centre-col-inner {margin-right: 25%;}
#cn-body-inner-2col-right #cn-centre-col-gap {left: 0; right: 25%;}

/* Link description / Description de lien */
a.cn-linkdesc {position: relative; z-index: 24;}
a.cn-linkdesc:hover, a.cn-linkdesc:focus, a.cn-linkdesc:active {z-index: 25; outline: 0; text-decoration: none;}
a.cn-linkdesc span span {position: absolute; clip: rect(1px, 1px, 1px, 1px); height: 1px !important; width: 1px !important; overflow: hidden !important;}
a.cn-linkdesc:hover span span, a.cn-linkdesc:focus span span, a.cn-linkdesc:active span span {clip: auto; height: auto !important; width: auto !important; overflow: visible !important; top: 2em; left: 2.2em; white-space: nowrap; border: 1px solid InfoText; background: InfoBackground; color: InfoText; font: message-box; font-size: 0.85em; padding: 2px 4px; text-align: left;}