@charset "utf-8";
/*!
 * CLF 2.0 theme v1.2 / Thème de la NSI 2.0 v1.2
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */
@media print {
	body, #cn-body-inner-3col, #cn-body-inner-2col, #cn-body-inner-1col {width: auto; min-width: inherit;}
	#cn-head {float: none;}
	#cn-leaf, #cn-bcrumb, #cn-bcrumb2, .cn-toppage, #cn-banner p, #cn-banner-eng p, #cn-banner-fra p, #cn-cmb, #cn-cmb-2, #cn-toppage-foot, #cn-in-pd-links {display: none;}
	#cn-wmms {margin: 0; padding: 0;}
	* html #cn-wmms {margin-top: -20px;}
	#cn-banner, #cn-banner-eng, #cn-banner-fra {float: left; width: 100%; background: none; text-align: left; min-height: inherit; height: auto;}
	#cn-banner #cn-banner-text, #cn-banner-eng #cn-banner-text, #cn-banner-fra #cn-banner-text {display: block; float: left; width: 100%; color: #000; padding: 0; margin: 0; margin-top: 36px; text-align: center;}
	#cn-centre-col {border-top: 1px solid #000; margin-top: 3px; padding-top: 10px;}
	*:first-child+html #cn-centre-col {margin-top: -25px;}
	#cn-foot {border-top: 1px solid #000; position: static; height: auto; /*display: inline-block; margin-top: 5px;*/}
	/**:first-child+html  #cn-foot {margin-top: 25px;}*/
	#cn-foot-inner {position: static;}
	#cn-in-pd {border-top: none;}
}
