@charset "utf-8";
/*!
 * Share widget v1.1 / Gadget de partage v1.1
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
 * Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
 */

/* jQuery Bookmark styles v1.3.4 */
.bookmark_popup_text img {
	border: none;
	vertical-align: bottom;
}
.bookmark_popup {
	display: none;
	position: absolute;
	z-index: 100;
}
.bookmark_popup ul {
	float: left;
	width: 320px;
	border: 1px solid #aaa;
}
.bookmark_list {
	display: inline-block;
	float: left;
	list-style-type: none;
	font-size: 80%;
	margin: 0px;
	padding: 0px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {  /* Safari3/Opera9 */
	.bookmark_list {
		font-size: 100%;
	}
}
html:first-child .bookmark_list {  /* Opera */
	font-size: 80%;
}
.bookmark_list li {
	float: left;
	width: 23%;
	margin: 0px 1px;
	padding: 1px;
	background-color: #eee;
	border: 1px outset;
}
.bookmark_compact {
	background-color: #eee;
	border: 1px outset;
}
.bookmark_compact li {
	width: 16px;
	height: 16px;
	margin: 0px;
	padding: 2px;
	background-color: transparent;
	border: none;
}
.bookmark_list a {
	width: 100%;
	text-decoration: none;
	cursor: pointer;
}
.bookmark_list span {
	display: inline-block;
	width: 16px;
	height: 16px;
}
.bookmark_list span.bookmark_icons {
	background: url(../img/bookmarks.gif) no-repeat center;
}
.bookmark_list img {
	border: none;
}

/* WET styles */
a.bookmark_popup_text, a.bookmark_popup_text2 {
	background:url("icons-share.gif") left 3px no-repeat;
	color:#3C6783;
	cursor:pointer;
	font-family:Tahoma,Verdana,Helvetica,sans-serif;
	letter-spacing:-0.0004em;
	padding: 0 0 2px 18px;
	display: block;
}
.bookmark_popup {
	background: #fff;
	width: 320px;
	border: 1px solid #000000;
}
.bookmark_popup p {
	font-size: .85em;
	margin:10px 0 10px 0;
}
.bookmark_popup .popup_title {
	font-size: 0.95em;
	font-weight: bold;
	padding: 5px;
	margin: 0;
	background-color:#336633;
	color:#FFF;	
}
.bookmark_popup ul {
	border: none;
}
.bookmark_list {
	padding: 5px;
	font-size: inherit;
}
.bookmark_list li {
	width: 49%;
	margin: 0;
	padding: 0 0 5px 0;
	font-size: .85em;
	background-color: inherit;
	border: inherit;
}
.bookmark_popup .bookmark_compact {
	border: none;
	margin-bottom: -3px;
}
.bookmark_list a {
	font-size: 1em;
	color: #003366;
	padding: 0;
	margin: 0;
}
.bookmark_list a:hover {
	background: none;
	color: #FF0000;
	padding: 0;
	margin: 0;
}
.bookmark_list span.bookmark_icons {
	background: url(bookmarks.gif) no-repeat center;
}
.bookmark_noicons span.bookmark_icons {background: none !important;}