@charset "utf-8";
/*!
 * Calendar interface v1.2 / Interface du calendrier v1.2
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * www.tbs.gc.ca/ws-nw/wet-boew/terms / www.sct.gc.ca/ws-nw/wet-boew/conditions
 */
.cal-container.picker-overlay{
	position:absolute;
	z-index:1000!important;
	margin-top:-2em;
}

.picker-close {float: right;}
.picker-field{width:7em;}
.picker-toggle-visible, .picker-toggle-hidden{margin-left:1em;}
.picker-toggle-visible a, .picker-toggle-hidden a{margin-left:0.5em;}
div.cal-days a{text-decoration:underline;}
div.cal-days ol.cal-day-list li.datepicker-selected a{background-color:#600;}