.bottom-banner
{
	width:100%;
	height:120px; /*If you change this height, you must change all other height values below to accommodate (in order to look correct)*/
	margin-top:80px;
	background-color:#435348;
}

.bottom-middle
{
	width:1024px;
	height:100%;
	margin:0px auto;
	background-color:#435348;
}

.section
{
	width:32%;
	float:left;
	text-align:center;
	height:80px;
	margin-top:20px;
	border-bottom:solid medium #440000;
}

.section a
{
	text-decoration:none;
	color:#E0E0FF;
	text-decoration:underline;
}

.spacer
{
	width:1%;
	height:100px;
	margin-top:10px;
	float:left;
	border-radius:10px;
	background-color:#440000;
}

.in-spacer-design
{
	width:1px;
	height:100%;
	background-color:#9999AA;
	margin:0px auto;
}