.top-banner
{
	margin:0 auto;
	width:100%;
	height:40px;
	z-index:101;
}

.top-banner-background
{
	position:fixed;
	z-index:1;
	top:0px;
	left:0px;
	width:100%;
	height:40px;
	border-bottom: medium solid #435348;
	background-color:#F5F4EB;
}

.top-left
{
	width:300px;
	height:100%;
	margin-left:20px;
	float:left;
	border-bottom: medium solid #435348;
	background-color:#F5F4EB;
	text-decoration:none;
}

.top-left:hover
{
	cursor:pointer;
}

.top-middle
{
	width:350px;
	height:100%;
	float:left;
	border-bottom: medium solid #435348;
	background-color:#F5F4EB;
}

.search-area
{
	padding-top:6px;
}

.top-spacer
{
	position:relative;
	top:0px;
	height:80px;
	width:100%;
}

.call-to-action
{
	width:1024px;
	height:60px;
	margin:0px auto;
	font-size:26px;
	color:#FF6600;
	text-align:center;
}

.call-to-action-btn
{
	color:#000000;
	font-size:30px;
}

.clear-float
{
	clear:both;
}

.display-font
{
	font-family: "Bradley Hand ITC";
	font-size: 40px;
	color: #0070C0;
	font-weight:bold;
}

.my-font
{
	font-family:Algerian;
	font-size: 40px;
	color: #1F497D;
}

.niche-font
{
	font-family:"Bookman Old Style";
	font-size:20px;
	font-weight:bold;
	color:#009900;
}