.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background:url(images/tab-shade.png)!important; background-repeat:repeat-x!important; background-color:#36A8A8!important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ background:none!important; background-color:#4ECACA!important;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{ color:#FFF!important;background:url(images/tab-shade.png)!important; background-repeat:repeat-x!important; background-color:#36A8A8!important;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{ color:#FFF!important;}
.ui-tabs .ui-tabs-nav li { width:242px!important; top:0px!important; margin:0px!important;} 

.ui-widget-header{ background:none!important; border:none!important;}
.ui-tabs .ui-tabs-panel { background-color:#37A7A8!important; 

height:200px!important;

 font-size:14px!important; font-family:Verdana, Geneva, sans-serif!important;

  color:#FFF!important;

  padding:0px!important; padding-top:10px!important;}
  

.ui-tabs .ui-tabs-panel p{ margin-left:15px; margin-right:15px;}
.ui-tabs { padding:0px!important;}

.ui-widget-content{ border:none!important;}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { width:230px!important; text-align:center!important;}

.ui-tabs .ui-tabs-nav { padding:0px!important;}
.ui-tabs-vertical {
    width: 55em!important;
}
.ui-tabs-vertical .ui-tabs-nav {
    float: left!important;
    padding: 0.2em 0.1em 0.2em 0.2em!important;
    width: 12em!important;
}
