.categories
{
	width:100%;
	overflow:auto;
	margin:0 auto;
}

.category
{
	float:left;
	width:32%;
	background-color:#3366CC;
	color:#FFFFFF;
	font-size:26px;
	padding-top:7px;
	padding-bottom:7px; /*Total height 40px*/
	margin:5px;
	text-align:center;
	text-decoration:none;
}
.category:hover
{
	background-color:#2255AA;
	cursor:pointer;
}

.category-title
{
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	width:100%;
	font-size:36px;
	font-weight:bold;
}

.branch_count
{
	float:right;
	font-size:18px;
}