.banner
{
	width:100%;
	overflow:auto;
}

.story
{
	width:32%;
	overflow:auto;
	margin:10px;
	text-decoration:none;
	background-color:#AA99EE;
	float:left;
}

.story-title
{
	display:block;
	width:100%;
	color:black;
	text-align:center;
	background-color:#E8F5E8;
	font-size:22px;
	float:left;
}
.story-title:hover
{
	cursor:pointer;
	background-color:#88AE88;
}

.branch
{
	display:block;
	width:98%;
	color:black;
	padding:2px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border:solid thin black;
	background-color:#95AA66;
	text-decoration:none;
	float:left;
}
.branch:hover
{
	cursor:pointer;
	background-color:#758A46;
}