#editor
{ 
	position: relative;
	width: 100%;
	height: 300px;
}

#preview
{
	position:absolute;
	display:none;
	width:700px;
	top:330px;
	left:350px;
	z-index:100;
	overflow:auto;
	text-align:left;
	border:solid medium black;
	background:#FFFFFF;
}

.content_editor
{
	text-align:left;
}

.new_section
{
	text-align:left;
}

.regular_editor
{
	position: relative;
	width: 99%;
	height: 300px;
}

.editor_change_btn
{
	position: relative;
	float: left;
	width: 33%;
	text-align: center;
	padding-top:5px;
	padding-bottom:5px;
	background-color: #EEEEEE;
	border:thin solid #AAAAAA;
}

.editor_change_btn:hover
{
	cursor: pointer;
	background-color: #CCCCCC;
}