.new_story
{
	text-align:center;
}

.sub_heading
{
	font-size:26px;
	font-weight:bold;
}

.category_slot
{
	width:60%;
	height:26px;
	text-align:left;
	margin:0px auto;
	border:solid thin black;
}

.drop-down
{
	float:left;
}

.toggle_btn
{
	width:24px;
	height:24px;
	float:left;
	background-color:#777777;
	text-align:center;
}

.toggle_btn:hover
{
	background-color:#555555;
	cursor:pointer;
}