#category_area
{
	width:700px;
	padding-left:2px;
	margin:0px auto;
}

.category
{
	float:left;
	width:48.5%;
	background-color:#3366CC;
	color:#FFFFFF;
	font-size:26px;
	padding-top:7px;
	padding-bottom:7px; /*Total height 40px*/
	margin:5px;
	text-align:center;
	text-decoration:none;
}
.category:hover
{
	background-color:#2255AA;
	cursor:pointer;
}

.story
{
	width:700px;
	overflow:auto;
	margin:10px auto;
	border-left:thin solid #EEEEEE;
	border-right:thin solid #EEEEEE;
	font-size:18px;
}

.story a
{
	color:#BBBBBB;
}

.title
{
	font-size:32px;
	font-weight:bold;
	text-align:center;
}

.trunk
{
	width:680px;
	padding:10px 10px;
}

#submit_trunk
{
	width:100%;
	text-align:center;
}

#past_branches
{
	padding:0px 5px;
}

#action
{
	width:100%;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

#action_area
{
	display:table;
	width:100%;
	height:150px;
	padding-top:40px;
	background-color:#F2F2F2;
}

#read
{
	width:50%;
	background-color:#999999;
	float:left;
	text-align:center;
	font-size:22px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#read:hover
{
	cursor:pointer;
}

#write
{
	width:50%;
	background-color:#DDDDDD;
	float:left;
	text-align:center;
	font-size:22px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#write:hover
{
	cursor:pointer;
}

#read_area
{
	width:700px;
}

#write_area
{
	width:700px;
	text-align:center;
}

#is_ending
{
	text-align:center;
}

#nav
{
	width:40%;
	height:150px;
	text-align:center;
	float:left;
}

#pages
{
	width:295px;
	height:40px;
	padding-left:55px;
	padding-top:20px;
	float:left;
}

.nav_btn
{
	width:64px;
	font-size:26px;
	text-align:center;
	float:left;
	background-color:#BBBBBB;
}
.nav_btn:hover
{
	cursor:pointer;
	background-color:#999999;
}

#page_num
{
	width:50%;
	font-size:24px;
	text-align:center;
	float:left;
}

#buttons_area
{
	width:95%;
	margin:5px auto;
	background-color:#EEEEEE;
	border-radius:10px;
	border:thin solid black;
	float:right;
}
#buttons_area button
{
	font-size:26px;
	font-weight:bold;
}

#branches
{
	width:59%;
}

.branch
{
	border-top:solid thin #BBBBBB;
}
.branch:hover
{
	background-color:#F3F3F3;
}

.author
{
	width:100%;
	height:22px;
}

#branches
{
	width:50%;
	float:left;
}

.vote
{
	color:blue;
}
.vote:hover
{
	cursor:pointer;
}

.rating
{
	color:blue;
}

.go_to_branch
{
	color:#004400;
	float:center;
	cursor:pointer;
}

.branch_count
{
	float:right;
	font-size:16px;
}