.story_item
{
	width:80%;
	margin:0px auto;
	height:40px;
	border-bottom:thin solid grey;
	background-color:#E8F5E8;
	padding:4px 0px;
}

.story_item_title
{
	font-size:22px;
	width:100%;
	display:block;
	text-decoration:none;
	color:black;
	padding:2px 0px;
}
.story_item_title:hover
{
	cursor:pointer;
	background-color:#EEEEEE;
}

.story_item_info
{
	font-size:14px;
	width:100%;
}