div.PITLink a:link, div.PITLink a:visited, div.PITLink a:active 
{
font-size:85%;
color:blue;
}
input#term
{
width: 15em;
}
abbr
{
text-decoration:none;
border-bottom:0;
}
dfn
{
font-style:normal;
}

#actButton
{
vertical-align:top;
}

div#wb-foot ul.aboutUs
{
margin-top:1em;
}
div#wb-foot ul.aboutUs li
{
display:inline; 
margin-right:15em;
margin-left:1em;
}
div#wb-foot ul.aboutUs li a
{
font-weight:bold;
}

div.info
{
background-image:url('/img/info2.png');
background-position:left;
background-repeat:no-repeat;
padding-left:2em;
}
div.archiveBar
{
background:#C00;font-weight:bold;font-size:1em;text-align:center;border:1px solid black;margin-left:1em;margin-bottom:0.5em;
}
div.archiveBar a
{
color:white;
}

.wb-sec-def h3
{
display: block;
color: #333;
text-decoration: none;
font-weight: 700;
background: #DDD;
padding: 2px 4px;
}

ul.linkList
{
margin-top:0.5em;
margin-bottom:0.5em;
font-size:90%;
}
.nextPreviousBtnAlign
{
text-align:center;
}
.leftResources
{
float:left; 
width: 45%; 
padding-right: 0.75em;
}
.rightResources
{
float:right; 
width: 50%;
}
div.headerNote a
{
font-size:80%;
}

div#printAll ul, ul.HorizontalList
{
	list-style-type:none;
	display:inline;
	margin:0;
	padding:0;
}
div#printAll ul li, ul.HorizontalList li
{
	display:inline;
}
#FullDoc
{
display:inline;
font-size:100%;
font-weight:normal;
margin:0;
}
.archiveMsg
{
	margin-top:0;
}

h1.PITIndex
{
font-size:120%;
}
h1.HeadTitle
{
text-align:left;
margin:0;
padding:0;
font-size:100%;
}
div.legisHeader
{
font-size:90%;
padding-left:1em;
}
div.tocNotes
{
margin:0;
}
div.tocNotes ul
{
margin-top:0;
margin-bottom:0;
}
div.tocNotes li
{
margin:0;
margin-left:3em;
padding-top:0;
}
span.tocNoteLabel
{
float:left;
}
ul.enablingList 
{
margin-top:0;
margin-bottom:0;
}
ul.enablingList li
{
margin:0;
margin-left:8em;
padding-top:0;
}
#assentedDate
{
margin:0;
}
div#assentedDate h1
{
font-size:1em; text-align:left;
}

ul.RelatedProvs, ul.NifProvs
{
margin:0;
padding:0;
}
ul.RelatedProvs li, ul.NifProvs li
{
list-style-type:none;
}

ul.pageLinks
{
list-style-type:none;
display:inline;
margin:0;
padding:0;
}
ul.pageLinks li 
{ display:inline;}

h2.Footnote
{
font-size:1em;
}

div.wet-boew-slideout ol.TocIndent,div.wet-boew-slideout ul.TocIndent {
margin-left: 0.5em;
text-indent:0;
padding:0.5em;
}
#wb-main div.wet-boew-slideout ul.TocIndent ul.TocIndent{ /* WET3 nested list styles conflict with looks of ToC */
margin-left: 0.5em;
text-indent:0;
padding:0.5em;
}
div.wet-boew-slideout ol.TocIndent li, div.wet-boew-slideout ul.TocIndent li {
margin-top:0.2em;
font-size: 1em;
}

ol.TocIndent, ul.TocIndent {
margin: 0.2em 1.5em;
text-indent:0;
padding:0;
}
ol.TocIndent li,ul.TocIndent li  {
margin-top:0.2em;
font-size:1em;
}

ol span.ScheduleHeading, ul span.ScheduleHeading
{
font-weight:normal;
}

ul.rssfeed {
list-style-image: url("/images/feed-icon14x14.jpg");
}
/* Image pour les puces Gold */
ol.TocIndent li, ul.TocIndent li, li.liGold {
list-style-image: url("/images/BouleOr-6x6.gif");
}
ol {
/* list-style-type:none;
margin: 0.5em 0;
padding: 0; */
text-indent: 0;
}
ol.noBullet, ul.noBullet {
list-style-type:none;
margin-left:1.5em;
}
table.noBorder {
border: none;
}
table.bottom
{
border-bottom-style: solid;
border-bottom-width: thin;
border-left-style: none;
border-left-width: thin;
border-right-style: none;
border-right-width: thin;
border-top-style: none;
border-top-width: thin;
}
table.top
{
border-bottom-style: none;
border-bottom-width: thin;
border-left-style: none;
border-left-width: thin;
border-right-style: none;
border-right-width: thin;
border-top-style: solid;
border-top-width: thin;
}

table.topbot
{
border-bottom-style: solid;
border-bottom-width: thin;
border-left-style: none;
border-left-width: thin;
border-right-style: none;
border-right-width: thin;
border-top-style: solid;
border-top-width: thin;
}

table.all
{
border-bottom-style: solid;
border-bottom-width: thin;
border-left-style: solid;
border-left-width: thin;
border-right-style: solid;
border-right-width: thin;
border-top-style: solid;
border-top-width: thin;
}
table 
{
width: 95%;
margin-top: 1em;
border-spacing: 0;
border-color: black;
border-collapse:collapse;
font-size: 90%;
}
tr
{
vertical-align:top;
margin-bottom:0.2em;
}
td, th
{
font-weight:normal;
margin: 0;
padding: 0.2em;
}
.docContents th
{
text-align:left;
}

.wet-boew-zebra .LeaderRightJustified
{
display:none;
}
td p, th p
{
margin-top:0;
}
.bottom
{
vertical-align:bottom;
}
.top
{
vertical-align:top;
}
.middle
{
vertical-align:middle;
}

.wet-boew-zebra th /*override the WET default to match the Lims default */
{
text-align:left;
}
.alignleft, th.alignleft
{
text-align:left;
}
.alignright, th.alignright
{
text-align:right;
}
.aligncenter, th.aligncenter
{
text-align:center;
}
.borderBottom, tr.borderBottom td
{
border-bottom: 1px solid black;
}
.noBorderBottom, td.noBorderBottom, tr.noBorderBottom td
{
border-bottom:none;
}
.borderRight
{
border-right: 1px solid black;
}

.topdouble, tr.topdouble td
{
border-top-style:double;
border-top-width: 3px;
border-top-color: black;
}
.tablePointsize6
{
font-size:65%;
}

.tablePointsize6\.5
{
font-size:70%;
}
.tablePointsize7
{
font-size:70%;
}

.tablePointsize8
{
font-size:75%;
}
.tablePointsize8pt
{
font-size:80%
}
.tablePointsize9
{
font-size:85%;
}
.tablePointsize10
{
font-size:90%;
}
.tablePointsize11
{
font-size:95%;
}
.tablePointsize12
{
font-size:100%;
}

a.anchor {
text-decoration:none!important;
color:black!important;
}

.width1 {width:1%;}
.width2 {width:2%;}
.width3 {width:3%;}
.width4 {width:4%;}
.width5 {width:5%;}
.width6 {width:6%;}
.width7 {width:7%;}
.width8 {width:8%;}
.width9 {width:9%;}
.width10 {width:10%;}
.width11 {width:11%;}
.width12 {width:12%;}
.width13 {width:13%;}
.width14 {width:14%;}
.width15 {width:15%;}
.width16 {width:16%;}
.width17 {width:17%;}
.width18 {width:18%;}
.width19 {width:19%;}
.width20 {width:20%;}
.width21 {width:21%;}
.width22 {width:22%;}
.width23 {width:23%;}
.width24 {width:24%;}
.width25 {width:25%;}
.width26 {width:26%;}
.width27 {width:27%;}
.width28 {width:28%;}
.width29 {width:29%;}
.width30 {width:30%;}
.width31 {width:31%;}
.width32 {width:32%;}
.width33 {width:33%;}
.width34 {width:34%;}
.width35 {width:35%;}
.width36 {width:36%;}
.width37 {width:37%;}
.width38 {width:38%;}
.width39 {width:39%;}
.width40 {width:40%;}
.width41 {width:41%;}
.width42 {width:42%;}
.width43 {width:43%;}
.width44 {width:44%;}
.width45 {width:45%;}
.width46 {width:46%;}
.width47 {width:47%;}
.width48 {width:48%;}
.width49 {width:49%;}
.width50 {width:50%;}
.width51 {width:51%;}
.width52 {width:52%;}
.width53 {width:53%;}
.width54 {width:54%;}
.width55 {width:55%;}
.width56 {width:56%;}
.width57 {width:57%;}
.width58 {width:58%;}
.width59 {width:59%;}
.width60 {width:60%;}
.width61 {width:61%;}
.width62 {width:62%;}
.width63 {width:63%;}
.width64 {width:64%;}
.width65 {width:65%;}
.width66 {width:66%;}
.width67 {width:67%;}
.width68 {width:68%;}
.width69 {width:69%;}
.width70 {width:70%;}
.width71 {width:71%;}
.width72 {width:72%;}
.width73 {width:73%;}
.width74 {width:74%;}
.width75 {width:75%;}
.width76 {width:76%;}
.width77 {width:77%;}
.width78 {width:78%;}
.width79 {width:79%;}
.width80 {width:80%;}
.width81 {width:81%;}
.width82 {width:82%;}
.width83 {width:83%;}
.width84 {width:84%;}
.width85 {width:85%;}
.width86 {width:86%;}
.width87 {width:87%;}
.width88 {width:88%;}
.width89 {width:89%;}
.width90 {width:90%;}
.width91 {width:91%;}
.width92 {width:92%;}
.width93 {width:93%;}
.width94 {width:94%;}
.width95 {width:95%;}
.width96 {width:96%;}
.width97 {width:97%;}
.width98 {width:98%;}
.width99 {width:99%;}
.width100 {width:100%;}

img.footer {
border: none;
}

div.dottedLine {
background-image: url(/images/point.gif);
background-repeat: repeat-x;
background-position:bottom;
height: 3px;
padding-top: 0.5em;
}

h1 
{
text-align:center;
}
span.fileSize
{
color: #333;
font-size: 1em;
}
span.RelatedRegOrderNum
{
color: #333;
font-size: 1em;
}
span.Repealed
{
color: #600;
}
span.XRefExternal, span.XRefExternalAct, span.XRefExternalRegulation
{
font-style:italic;
color:#630;
}
span.XRefExternalLink
{
font-style:normal;
color:blue;
}
cite.XRefExternal, cite.XRefExternalAct, cite.XRefExternalRegulation
{
font-style:italic;
color:#630;
}

div.PITLink
{
margin-bottom: 0.5em;
}
div.pitNote
{
font-style:italic;
}
.sectionRange
{
font-size:90%;
}
.IndentLabel
{
text-indent: 1.4em 
}
.nif
{
color:#111;
background-color:#DDD;
}

.right-align
{
text-align:right;
}
p.caption
{
text-align:center;
}
p.RegulationMakerOrder
{
font-size:80%;
}
p.EnablingAct
{
text-align:center;
text-decoration:underline;
}
.BigLongTitle
{
font-size: 125%;
font-weight: bold;
margin-left: 2.8em;
margin-top: 1.4em;
text-align: center;
text-indent: -2.8em;
}
.Bold 
{
font-weight: bold;
}
.Regular
{
text-decoration: none;
font-weight: normal; font-style:normal;
}
.Charter
{
font-size: 125%;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
margin-top: 0em;
text-align: center;
}

.ChapterNumber
{
font-size: 110%;
font-weight: bold;
margin-top: 1em;
text-align: center;
}

.Summary
{
text-align: center;
font-size: 100%;
font-weight:normal;
}

p.AssentedDate
{
text-align:center;
}
.Comment
{
font-style: italic;
}

.FormHeading
{
text-align: center;
}
.Formula
{
margin-top: 1.4em;
margin-bottom: 0.7em;
text-align: center;
}

p.Group4 { text-align:left; }
 .Group4
{
margin-bottom: 0.7em;
margin-top: 0.7em;
text-align: center;
}
.Group5
{
margin-bottom: 0.7em;
margin-top: 1.4em;
}

.GroupHeading
{
font-size: 100%;
margin-top: 1.4em;
text-align: center;
}
.Lists02
{
margin-left: 2em;
margin-top: 0.7em;
text-indent: -2em;
}

.Lists24
{
margin-left: 2.8em;
margin-top: 0.7em;
text-indent: -1.4em;
}
.InstrumentNumber
{
text-align: center;
}
.LongTitle
{
text-align:left;
font-size:100%;
font-weight: normal;
margin-left: 2.8em;
margin-top: 1.4em;
text-indent: -2.8em;
}
.NoteReg
{
font-size: 100%;
margin-top: 0.7em;
text-indent: 1.4em;
}

.Note
{
font-size: 89%;
margin-top: 0.7em;
text-indent: 1.4em;
}

.Oath
{
font-size: 85%;
margin-top: 0.7em;
text-indent: 1.4em;
}

.OriginatingRef
{
font-size: 100%;
font-style: italic;
margin:0;
display:block;
text-align: center;
}
.Overbar 
{
text-decoration: overline;
}
.ReaderNote
{
width: 80%;
border: 1px solid black;
padding: 0.7em;
text-align: center;
margin-bottom: 0.5em;
}

.Repealed
{
margin-top: 2.8em;
}

.Right
{
margin-top: 0.7em;
text-align: right;
}

.Salutation
{
font-variant: small-caps;
margin-top: 1.4em;
}

.SectionPrint
{
color: #FF0000;
}

.Section
{
margin-top: 0.7em;
margin-bottom:0.5em;
text-indent : 1.5em;
}
.Subsection
{
margin-top: 0.7em;
margin-bottom:0.5em;
text-indent : 1.5em
}
.ContinuedSectionSubsection 
{
margin-top: 0.7em;
margin-bottom:0.5em;
}
.ContinuedParagraph
{
margin-left: 1.5em;
}

.ContinuedSubparagraph
{
margin-left: 3em;
}

.MarginalNote
{
/*color: green; */
margin-bottom: 0.7em;
margin-top: 1.2em;
font-weight: normal;
font-size: 0.85em;
}
span.MarginalNoteInHeading
{
display:block;
margin:0;
font-size: 0.85em;
text-align:left !important;
}

p.Schedule
{
text-align:center;
}

.scheduleLabel
{
text-align:center;
font-size:100%;
}

.scheduleTitleText
{
text-align:center;
font-size:100%;
}

dl.Definition
{
clear:both;
}

dl.Definition dt
{
/*float:left;
padding-right:0.5em; */
margin-top:1em;

}
dl.Definition dd
{

margin-left:0;
margin-bottom:1em;

}

p.MarginalNoteDefinedTerm
{
margin:0;
font-size: 0.85em;
}

p.Definition 
{
margin-top:0.5em;
}

span.DefinedTerm
{
}
span.DefinedTermLink
{
font-style:italic;
}

p.MarginalNoteDefinedTerm + p.Definition
{
margin-top:0.5em;
}

.Paragraph
{
margin-left: 1.5em;
margin-top: 0.7em;
margin-bottom:0.5em;
}
.NestedFormula
{
margin-left: 1.5em;
}

.FormulaDefinitionBlock
{
margin-top:1em;
clear:left;
}
.ContinuedFormulaParagraph
{
margin-left:3em;
}
.TermText
{
padding-left:3em;
}
.FormulaTerm
{
float:left;
}
dl.Definition dl.FormulaDefinitionList dd
{
margin-left:3em;
}
dl.FormulaDefinitionList p.FormulaParagraph
{
margin-left:0;
}
dl.FormulaDefinitionList p.FormulaSubparagraph
{
margin-left:1.5em;
}
dl.FormulaDefinitionList, .FormulaGroup
{
text-indent:0;
}
dl.FormulaDefinitionList p.ContinuedFormulaParagraph
{
margin-left:0;
}

.Subparagraph
{
margin-top: 0.7em;
margin-bottom:0.5em;
margin-left: 3em;
}

.Clause
{
margin-left: 4.5em;
margin-top: 0.7em;
margin-bottom:0.5em;
}

.Subclause
{
margin-left: 6em;
margin-top: 0.7em;
margin-bottom:0.5em;
}

.FormulaDefinition
{
}

.FormulaParagraph
{
margin-left: 3em;
}
.FormulaSubparagraph
{
margin-left:3em;
}

.subsubclause
{
margin-left: 5.6em;
margin-top: 0.7em;
}

.ShortTitle
{
font-size: 100%;
font-weight: bold;
margin-left: 2.8em;
margin-top: 1.4em;
text-align: center;
text-indent: -2.8em;
}
.Smallcaps 
{
font-variant: small-caps;
}

.Sub-SubHeading
{
font-size: 100%;
margin-bottom: 0.7em;
margin-top: 1.4em;
text-align: center;
}

h3.Subheading, h4.SchedHeadTT3, h4.SchedHeadL3 , p.Subheading3
{ font-variant: normal; font-style: italic; font-weight:normal; text-align:center; font-size:100%; }

h4.Subheading, h5.SchedHeadTT4, h5.SchedHeadL4 { font-variant: normal; font-style: normal; font-weight:normal; text-align:center; font-size:100%;}


/* Used in NIF and RP */
.nifrpCitation {font-variant:normal; font-weight:bold; border-top: 1px dashed black;
margin-top: 2em;
padding-top: 1em;}
h5.Subheading, h6.SchedHeadTT5, h6.SchedHeadL5 {font-variant:normal; font-weight:normal; text-align:left;}

  .Subheading, h3.SchedHeadTT2, h3.SchedHeadL2, p.Subheading2
{
font-size: 108%;
font-variant: small-caps; 
font-weight: normal;
margin-bottom: 0.7em;
margin-top: 0.7em;
text-align: center;
color: #000000;
} 

.Symbol
{
font-family: symbol
}

.rowleft h1, .rowleft h2, .rowleft h3
{
	text-align:left !important;
	font-size:100% !important;
}

.Topic, h1.Topic, h1.Part, h2.SchedHeadTT1, h2.SchedHeadL1
{
font-size: 100%;
font-weight: normal;
margin-bottom: 0.5em;
padding-top: 0.7em;
text-align: center;
text-decoration:none;
}

div.docContents a:link h1, a:link h2
{
color:black;
text-decoration:none;
}
div.docContents
{
padding-left:1em;
padding-right:1.5em;
}

hgroup a:hover
{
text-decoration:none;
}
.Underline 
{
text-decoration: underline;
}
.Centered,.centered 
{
text-align:center;
}
h1.TocHeading
{
font-size: 120%;
margin-bottom : 0.5em;
}

h2.relatedInfo
{
margin-bottom: 0.5em;
margin-top: 0.8em;
padding: 0px;
font-weight: normal;
}
div.ReadAsText
{
font-weight:normal;
}
p.amending
{
font-weight:bold;
}
blockquote {margin:0;}

hgroup.transitional h1, hgroup.transitional h2, hgroup.transitional h3,
hgroup.transitional h4, hgroup.amending h1, hgroup.amending h2, hgroup.amending h3, hgroup.amending h4
{
	font-weight:bold;
}
.transitional
{
font-weight:bold;
margin-top: 0.7em;
margin-bottom:0.5em;
}
.SubDivision
{
margin-bottom: 0.0em;
margin-top: 0.7em;
text-align: center;
font-weight: normal;
font-style: italic;
font-size: 108%;
}

.Division
{
font-size: 100%;
font-weight: normal;
margin-bottom: 0.7em;
margin-top: 0.7em;
text-align: center;
}
.TitleText
{
margin-bottom: 0.7em;
margin-top: 1.4em;
text-align: center;
}

div.Footnote
{
font-size:0.8em;
}
p.Footnote
{
margin: 0.2em;
padding:0;
}
p.Footnote a
{
font-size: 1em;
}
.caption
{
padding-top: 1.5em;
}

span.searchTerm
{
font-weight:bold;
font-style:italic;
}
dl.searchFieldLabels dt
{
font-weight:bold;
}

/* Largeur et font de select */
select.navSelect {
   font-size        		: 0.8em;
   width            		: 200px;
}

p.button-group
{
margin-top:0;
margin-bottom:0;
}

.selectTop input { margin:0; }


div.goldLineTop {
	padding-top		: 0.5em;
}

div.goldLinePos {
	text-align		: center;
	padding-bottom	: 0.2em;
	padding-top		: 0.2em;
}

div.selectTop {
	text-align		: center;
	margin-top		: 0.5em;;
}

#selectForm {
	margin:0;
}

@media speech, aural {
	div.selectTop {speak:none;}
}
